{% extends "base.html" %}

{% block content %}
<section class="d-flex flex-column justify-content-center align-items-center text-center gradient-bg min-vh-100 py-5">
    <div class="container">
        <h1 class="display-4 mb-3 text-accent"> Hi, I'm Han Win Aung</h1>
        <p class="lead text-theme">A frontend-focused full-stack web developer who learns by patterns.</p>
        <a href="/projects" class="btn btn-outline-sky mt-3 px-4 py-2">See My Work</a>
    </div>
</section>
{% endblock %}
